[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"

[packages]
alembic = "*"
"discord.py" = "*"
psycopg2 = "*"
SQLAlchemy = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"
